<div id="portfolio">

<!-- Begin Row -->
<div class="row">

<%= render 'competitive_report_portfolio' %>
<%= render 'wallshops_portfolio' %>
<%= render 'jira_ticket_portfolio' %>
<%= render 'isgraduating_portfolio' %>
<%= render 'word_portfolio' %>
</div>

</div>
