<div id="portfolio">
<!-- Begin Row -->

<div class="row">

<%= render 'competitive_report_portfolio' %>
<%= render 'competitive_model_portfolio' %>
<%= render 'jira_ticket_portfolio' %>
<%= render 'sw_portfolio' %>
<%= render 'word_portfolio' %>
<%= render 'wallshops_portfolio' %>
<%= render 'isgraduating_portfolio' %>
</div>

<div class="alert alert-info" style="text-align:center;">Want to get more details about the Products I've made? Contact me by clicking the <strong>"E-mail Me"</strong> button at the <a href="#top">top of the page</a>.</div>

</div>
