<div class = "container">

<h1>Welcome to Patrick's Portfolio</h1>


<!-- Begin Row -->
<h2>Sample Products</h2>
<div class="row">

<%= render 'competitive_report_portfolio' %>
<%= render 'wallshops_portfolio' %>
<%= render 'jira_ticket_portfolio' %>
<%= render 'isgraduating_portfolio' %>
<%= render 'word_portfolio' %>
</div>

</div>
