<!-- Make this look prettier!! -->

<div id="new-mail">
  <%= form_for Contact.new, :url => "/contacts", :action => "POST", html: { remote: true } do |form| %>
    <fieldset class="fields">
      <div class="field">
        <h5><%= form.label :name %></h5>
        <%= form.text_field :name, :class => 'form-control' %>
      </div>
      
      <div class="field">
        <h5><%= form.label :email %></h5>
        <%= form.text_field :email, :class => 'form-control' %>
      </div>
      <div class="field">
        <h5><%= form.label :subject %></h5>
        <%= form.text_field :subject, :class => 'form-control' %>
      </div>
      
      <div class="field">
        <h5><%= form.label :body %></h5>
        <%= form.text_area :body, :class => 'form-control' %>
      </div>
    </fieldset>
    
    <div id = "new-mail-footer">
    <fieldset class="actions">
      <%= form.submit "Send", :class => 'btn btn-primary', :style => 'margin-top: 10px ' %>
      <h5>*All Fields Required</h5>
    </fieldset>
    </div>
  <% end %>
</div>